<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Regex_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Regex_Tool.Properties.Settings>
            <setting name="LastPattern" serializeAs="String">
                <value>\b[Rr]eg([Ee]xp?|ular[\s]+expression)\b</value>
            </setting>
            <setting name="LastInput" serializeAs="String">
                <value>Enter a regular expression pattern above and input text here to see the results returned by the System.Text.RegularExpressions.Regex object.</value>
            </setting>
            <setting name="RegexOptions" serializeAs="String">
                <value>Multiline</value>
            </setting>
            <setting name="ColorScheme" serializeAs="String">
                <value/>
            </setting>
        </Regex_Tool.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
